
body{
	background-color: #FFFFFF;
}
.skills{

	border: 10px solid white;
	padding: 20px;
}

.education{
	padding-top: 100px;
	padding-bottom: 100px;
}

.experience{
	padding-top: 100px;
	padding-bottom: 100px;
}

//6DBCDB
